PROJECT_NAME=email_notification

RABBITMQ_HOST=rabbit
RABBITMQ_PORT=5672
RABBITMQ_USER=guest
RABBITMQ_PWD=guest

EMAIL_USER=test
EMAIL_PWD=test
EMAIL_SERVER=mailhog
EMAIL_PORT=1025

PYTHONPATH=email/src:
